<!DOCTYPE html>
<html>
<head>
   <title>Embed tag in HTML</title>
   <style>
      embed {
            border: solid 2px black;
      }
   </style>
   <script>
      function sendMessage() {
         const okitIframe = document.getElementById('okit');
         const message = 'templates/reference_architecture/oci/infrastructure/ha_web_application.json';
         const targetOrigin = 'http://localhost:8080';
         okitIframe.contentWindow.postMessage(message, targetOrigin);
      }
   </script>
</head>
<body style="text-align: center;">
   <h2>Test embedded okit</h2>
   <button onclick="sendMessage()">Send Message</button><p>
   <iframe id="okit" style='border:1px solid black;' src="http://localhost:8080/okit/oci" width="500px" height="500px">


</body>
</html>