<!DOCTYPE html>
<html>
<head>
   <title>Embed tag in HTML</title>
   <style>
      embed {
            border: solid 2px black;
      }
   </style>
</head>
<body style="text-align: center;">
   <h2>Test embedded okit</h2>
   <button onclick="sendMessage()">Send Message</button><p>
   <embed id="okit" type="text/html" style='border:1px solid black;' src="http://localhost:8080/okit/oci" width="500px" height="500px">

     <script>
      function sendMessage() {
        const otherWindow = document.querySelector("#okit").contentWindow;
        const message = 'Hello from Origin 1!';
        const targetOrigin = 'https://origin2.com';
        otherWindow.postMessage(message, targetOrigin);
      }
    </script>
</body>
</html>