# ------ Application
resource "oci_application" "{{ resource_name }}" {
	#Required
	compartment_id 			= {{ compartment_id }}
	display_name   			= {{ display_name }}
	app_id				    = {{ app_id }}
	app_short_name			= {{ app_short_name }}
	app_tenancy			    = {{ app_tenancy }}

	#Optional
{% if app_description is defined %}
    app_description		    = {{ app_description | safe }}
{% endif %}

{% if app_lob is defined %}
        app_lob                	= {{ app_lob | safe }}
{% endif %}

{% if app_owner is defined %}
        app_owner                = {{ app_owner | safe }}
{% endif %}

{% if app_legal_hold is defined %}
        app_legal_hold           = {{ app_legal_hold | safe }}
{% endif %}

{% if app_cost_center is defined %}
        app_cost_center         = {{ app_cost_center | safe }}
{% endif %}

{% if app_environment is defined %}
        app_environment         = {{ app_environment | safe }}
{% endif %}
}
